* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  min-width: 900px;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.header {
  height: 66px;
  background-color: #07569A;
}

.header__content {
  display: flex;
  justify-content: space-between;
  min-width: 900px;
  max-width: 1440px;
  margin: 0 auto;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 234px;
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  border-right: 1px solid rgba(255, 255, 255, 0.6);
}

.cart {
  padding-left: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.6);
}

.cart__info {
  background-image: url("../images/cart.svg");
  background-size: 33px;
  background-position: left center;
  background-repeat: no-repeat;

  padding: 11px 0 11px 46px;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.cart__price {
  font-size: 20px;
  font-weight: 700;
}

/* main content */
.main {
  height: 100%;
}

/* left-block */
.product-type {
  width: 234px;
  height: 100%;
  flex-shrink: 0;
  background-color: #E5E4E5;
  padding: 20px;
}

.type-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.type-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.type-list__link {
  font-size: 14px;
  line-height: 20px;
  color: #333;
  text-decoration: none;
}

.type-list__link:hover {
  text-decoration: underline;
}

/* main block */
.content {
  padding: 20px 30px;
}

.breadcrumbs {
  display: flex;
  margin-top: 0;
  margin-bottom: 27px;
  padding: 0;
  list-style: none;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "›";
  margin: 0 7px;
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 20px;
  color: #3072C4;
  text-decoration: none;
}

.breadcrumbs__link:hover {
  text-decoration: underline;
}

.breadcrumbs__link--active {
  color: #333;
}

.content__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  color: #000;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.product {
  margin-right: 72px;
  margin-bottom: 40px;
  width: 240px;
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product__img {
  /* width: 227px; */
  /* height: 169px; */
  max-width: 100%;
  margin-bottom: 20px;
}

.product__title {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  color: #333;
  cursor: pointer;
}

.product__title:hover {
  text-decoration: underline;
}

.product__index {
  font-size: 16px;
  line-height: 20px;
  color: #A0A0A0;
}

.product__price {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #000;
}

.product__btn {
  width: 123px;
  height: 42px;
  background-color: #07569A;
  background-image: url("../images/cart.svg");
  background-repeat: no-repeat;
  background-position: 13px center;
  background-size: 18px;
  border: 1px solid #1D85D0;
  border-radius: 1px;
  padding: 0;
  padding-left: 20px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color .2s ease-in-out;
}

.product__btn:hover {
  background-color: #053f72;
}

/* footer */
.footer {
  padding: 15px 0;
}

.footer__text {
  font-size: 16px;
  line-height: 20px;
  color: #000;
}